.blockSlider {
    display: flex;
    max-width: 768px;
    width: 100%;
    height: 388px;
    border:  1px solid black;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.FullArea{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imagesArea{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imageSlider{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation-name: Animation;
    animation-duration: 1.5s;
}
.activeImage{
    background: rgb(115, 126, 250);
    display: flex;
    border-radius: 20px;
}
.btnsAreaSize{
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.blockArrow{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1ps solid white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.blockArrow:hover{
    background: rgba(39,39,39,0.59);
    border: 1px solid white;
    color:white;
    cursor: pointer;
}

.blockArrow:active{
    background: rgba(16,16,16,0.59);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

@keyframes Animation {
    0% {opacity: 0.20;}
    100% {opacity: 1;}
}